* {
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
    overflow:scroll;
}
header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}
form{
    width: 50%;

}
main{

}
img {
    width: 100%;
}
#search-bar {
    height: 30px;
    width: 100%;

    border: none;
    border-radius: 5px;
}
#picture-section{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
    margin: auto;

}
.picture-column{
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
}
.photographer{
    position: absolute;
    bottom: 4px;
    height: 20px;
    color: white;
    padding-top: 20px;
    text-align:left;
    text-indent: 10px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 0px;
    background: linear-gradient(0deg,rgba(43, 42, 42, 0.795), rgba(48, 47, 47, 0.034));
    
    display: block;
    display: none;
    
}
.pexel-picture{
    position: relative;
    padding: 5px 0;

}
.pexel-picture:hover > .photographer{
    cursor: pointer;
    display:block;
    transition-delay: 0s;
    
    
}